<!-- templates/show_folders.html -->

<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <h1>디렉토리 {{ path }}</h1>
        <div>
            {% if path == "" %}
            <form action="{{ url_for('upload_file_root') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="업로드">
            </form>
            {% else %}
            <form action="{{ url_for('upload_file',folders=path) }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="업로드">
            </form>
            {% endif %}
        </div>
        <div>
            <form action="{{ url_for('upload_file',folders=path) }}" method="post" enctype="multipart/form-data">
                <input type="submit" value="폴더 생성">
                <input type="text" name="single_line_input">
            </form>
        </div>
        <div>
            <table border="1">
                <colgroup>
                    <col style="width: 300px;">
                    <col style="width: 50px;">
                    <col>
                </colgroup>
                <tr>
                    <th>이름</th>
                    <th>크기</th>
                    <th>다운로드</th>
                    <th>삭제</th>
                </tr>
                {% for item in items %}
                <tr>
                    {% if item.is_directory %}
                    <td>폴더: <a href="{{ clean_up_path(url_for('show_folders', folders=path+'/'+item.name)) }}">{{ item.name }}</a></td>
                    {% else %}
                    <td>파일: {{ item.name }}</td>
                    {% endif %}
                    <td>{{ item.size }}</td>
                    <td><a href="{{ clean_up_path(url_for('download', path=path+'/'+item.name)) }}" download>다운로드</a></td>
                    <td><a href="{{ clean_up_path(url_for('delete', path=path+'/'+item.name)) }}">삭제</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <script>
            function deleteFile() {
                location.reload();
            }
            function refreshPage() {
                location.reload();
            }
        </script>
        <script>
            history.pushState({}, '', "{{ clean_up_path(url_for('show_folders', folders=path)) }}");
        </script>
    </body>
</html>

